# Logs and Temporary Files
*.log
*.csv
update.txt
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class

# Snakemake
.snakemake/

# Output & Intermediate Directories
results/
benchmarks/
logs/
resources/
intermediate_files/
.RepeatMaskerCache/
.cache/
.config/
.keras/
.pygustus/
busco_downloads/

# Optional: Resources (if large files downloaded here)
# resources/

# System Files
.DS_Store
Thumbs.db

